*{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    /* display: none; */
    background-color: blue;
}
h1{
    display: inline-block;
    background-color: yellow;
}

p{
    background-color: blue;
    color: white;
}
.green{
    color: yellowgreen;
}

.red{
    visibility: hidden;
    background-color: red;
    color: white;
    display: block;
    width: 5%;
}